<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View</title>
    <style>
        
        th,td{
            padding: 15px;
            text-align: left;
            font-size: 20px;
            border-bottom: 1px solid #ddd;
        }
       
        a{
            background-color: #4CAF50; /* Green */
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
        }
        
    </style>
</head>
<body>

    <table width = '100%'>
        <tr>
            <th>Course ID</th>
            <th>Name</th>
            <th>Batch</th>
            <th>Year</th>
            <th>Course Description</th>
            <th>Credit Hours</th>
            <th>Actions</th>
        </tr>
        <% if(course.length > 0) { %>
            <% for (var i = 0; i<course.length; i++) {%>
                <tr>
                    <td><%- course[i].course_id  %> </td>
                    <td><%- course[i].name  %> </td>
                    <td><%- course[i].batch%> </td>
                    <td><%- course[i].year  %> </td>
                    <td><%- course[i].course_description  %> </td>
                    <td><%- course[i].credit_hours  %> </td>
                    <td><a href ="/course/delete-course?course_id=<%- course[i].course_id  %>">Delete</a></td>
                    <td><a href ="/course/update-course?course_id=<%- course[i].course_id  %>">Update</a></td>
                </tr>
            
            <% } %> 
        
        <% } else{ %>
            <h1>Course Data Not Found. </h1>
        <% } %> 
    </table>
    
</body>
</html>